<header>

  <nav>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#">Home</a>
      </li>
      <li role="presentation">
        <a href="#">Profile</a>
      </li>
      <li role="presentation">
        <a href="#">Messages</a>
      </li>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          login
        </button>
    </ul>
  </nav>

  <login-modal></login-modal>
</header>

<article>
  <main-board></main-board>
</article>


<footer>
  <small>copy unclepapa
    <address>unclepapa@mail.com</address>
  </small>
</footer>